* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/number.png);
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
  background-size: cover;

  /* width: 100vw; */
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
